.lbrary-header {
  padding: 41px 71px;
  justify-content: space-between;
  background-image: url('../images/MyLib1024.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lbrary-header {
  .container {
    align-items: center;
    justify-content: space-between;
  }
}

.library-btn {
  display: flex;
  justify-content: center;
}

.btn__libr {
  width: 136px;
  height: 44px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 14px 38px 14px 38px;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.btn__libr:hover,
.btn__libr:focus {
  background-color: orange;
  border: none;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  cursor: pointer;
}
