// body{
//     overflow: hidden;
// }
.modal{
    margin-top: 0px;
    width: 55vh;
    // margin: 100px 70px;
    background-color: white;
    height: 95vh;
    padding: 60px 22px 25px 22px;
    overflow-y: scroll;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    position: relative;

    @media screen  and( min-width: $tablet) {
        padding-top: 40px;
        display: flex;
        width: 618px;
        height: 562px;
        overflow-y:inherit;
    }
    @media screen  and( min-width: $desktop) {
        padding-top: 50px;
        width: 882px;
        height: 568px;
    }
    
}

.modal-img{
    border-radius: 10px;
    
    
    @media screen and( min-width: $tablet){
        width: 260px;
        height: 374px;
    }
    @media screen and ( min-width: $desktop) {
        width: 396px;
        height: 478px;
    }
}

// .backdrops{
//     background-color: white;
// }
// .modal__list{
//     background-color: white;
// }

.modal__close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    // transition: background-color $transition-duration $timing-function;
    outline: none;
    background-image: url('../images/close.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .modal__head{
      text-transform: uppercase;
      font-family: Roboto;
      font-size: 20px;
      margin-top: 30px;
      line-height: 25px;
      @media screen and( min-width: $tablet){
          margin-top: 5px;
          
      }
      @media screen and ( min-width: $desktop) {
        font-size: 30px;
      }
  }
  
.modal__containet-text{
    margin-left: 0px;
    @media screen  and( min-width: $tablet){
        margin-left: 20px;
    }

}
  .modal__container{
      display: flex;
      margin-top: 20px;
      
  }

  .modal__list{
      font-size: 12px;
      color: #8C8C8C;
      width: 90px;
  }
  
  .modal__list_variable{
      margin-left: 50px;
      font-size: 12px;
      font-weight: 500;
      @media screen and( min-width: $tablet){
         margin-left: 30px; 
      }
      @media screen and ( min-width: $desktop){
        margin-left: 80px; 
            
        }
  }

  .modal__list__item{
      margin-bottom: 10px;
      
  }
  
  .modal__vote{
      display: flex;
      font-weight: 500;
  }
  .modal__text{
      text-transform: uppercase;
      margin-top: 20px;
      font-family: Roboto;
      font-size: 12px;
  }
  .modal__text-about{
      margin-top: 10px;
      line-height: 20px;
      color: black;
    //   height: 100px;
    //   overflow: scroll;
      @media screen and ( min-width: $desktop){
      overflow: hidden;
          
      }
  }
  .modal__buttons{
      display: flex;
      justify-content: center;
    // //   justify-items: flex-end;
      margin-top: 20px;
      @media screen and( min-width: $tablet){
        justify-content: flex-start; 
      }
      
  }

  .modal__btn__orange,
  .modal__btn__white{
      width: 113px;
      height: 44px;
      border-radius: 5px;
      font-family: roboto;
      font-weight: 500;
      background-color: white;
      border: 1px solid;
      @media screen and( min-width: $tablet){
        width: 130px;  
      }
      
  }

  .modal__btn__orange:hover,
.modal__btn__orange:focus,
.modal__btn__white:hover,
.modal__btn__white:focus{
    color: white;
  background-color:  orange;
  border: none;
  cursor: pointer;
  
}
  

  .modal__btn__white{
    margin-left: 15px;
}

  .movie_name{
      text-transform: uppercase;}

.vote{
    background-color: #FF6B01;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
}
.vote_count{
    margin-left: 5px;
}