.modal{
    margin-top: 0px;
    width: 1300px;
    height: 400px;
    background-color: white;
    // color: aqua;
    display: flex;
}

// .backdrops{
//     background-color: white;
// }
// .modal__list{
//     background-color: white;
// }