.movie-card {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.movie-card:focus,
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 1px rgb(255 107 1 / 43%);
  cursor: pointer;
}

.card-img {
  border-radius: 5px;
  margin-bottom: 10px;
  //   height: 398px;
}

.card-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
}

.card-title {
  color: var(--second-text-color);
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.33em;
}

.card-genres,
.card-year {
  cursor: pointer;
  color: var(--third-text-color);
}

.card-genres {
  display: inline-flex;
  flex-wrap: wrap;
  //   margin-right: 5px;
}

.card-genre {
  margin-right: 5px;
}

.card-info-wraper {
  display: flex;
}

@media screen and (max-width: $max-mobile) {
  .card__img {
    width: 280px;
  }
}

@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  .card__img {
    width: 294px;
  }
}

@media screen and (min-width: $desktop) {
  .card-img {
    width: 274px;
  }
}
