// @charset 'utf-8';

.tui-pagination {
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  @media screen and (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.tui-page-btn.tui-first.hide-first,
.tui-page-btn.tui-first.tui-is-disabled,
.tui-page-btn.tui-last.hide-last,
.tui-page-btn.tui-last.tui-is-disabled,
.tui-page-btn.tui-next-is-ellip.change-next,
.tui-page-btn.tui-prev-is-ellip.change-prev {
  display: none;
}

@media screen and (min-width: $tablet) {
  .tui-page-btn.tui-next-is-ellip.change-next,
  .tui-page-btn.tui-prev-is-ellip.change-prev {
    display: flex;
  }
}

.tui-pagination .tui-next {
  margin-left: 0;
}

.tui-pagination .tui-prev {
  margin-right: 0;
}

.tui-pagination .tui-page-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  color: var(--second-text-color);
  font-family: Roboto;
  transition: all 250ms ease-in-out;
  height: inherit;
  &:hover {
    background: var(--btn-pagination-color);
    color: var(--first-text-color);
  }
}

.tui-pagination .tui-is-selected {
  font-weight: 500;
  cursor: default;
  color: var(--first-text-color);
  background: var(--btn-pagination-color);
  border-color: var(--btn-pagination-color);
}
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--first-text-color);
  background: var(--btn-pagination-color);
  cursor: default;
}
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  border: 0;
}
.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last,
.tui-pagination .tui-next-is-ellip {
  border-left: 0;
}

.tui-pagination .tui-is-disabled:hover {
  background: transparent;
  border: none;
}
.tui-pagination .hide-prev,
.tui-pagination .hide-next {
  background: var(--footer-background-color);
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--second-text-color);
}
.tui-pagination .tui-prev-is-ellip:hover,
.tui-pagination .tui-next-is-ellip:hover,
.tui-pagination .hide-prev:hover,
.tui-pagination .hide-next:hover {
  background-color: var(--btn-pagination-color);
}

.tui-pagination .tui-prev-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .tui-next-is-ellip:hover > .tui-ico-ellip,
.tui-pagination .hide-prev:hover > .tui-ico-prev,
.tui-pagination .hide-next:hover > .tui-ico-next {
  fill: var(--first-text-color);
}

.tui-pagination .tui-is-selected:hover {
  background: var(--btn-pagination-color);
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-ico-next {
  text-indent: -9999px;
  background-image: url(/images/icon-right.svg);
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: var(--second-text-color);
}

.tui-pagination .tui-ico-prev {
  text-indent: -9999px;

  background-image: url(/images/icon-left.svg);
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: var(--second-text-color);
}

.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  fill: var(--second-text-color);
  transition: all 250ms ease-in-out;
  color: var(--second-text-color);
  background: var(--footer-background-color);
}
.tui-pagination .tui-last,
.tui-pagination .tui-first {
  visibility: hidden;
}
